.hero{
    font-size: 60px;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}
.container{
    height: 120px;
    width:500px;
    display: flex;
    justify-content: right;
    align-items: right;
}
.holder{
    width: 100px;
    align-items: right;
    justify-content: right;
    display: flex;
}
.wrapper input[type="text"]{
    width=100px;
    padding: 20px;
    font-size: 25px;
}
.wrapper input[type="submit"]
{
    align-content: center;
    border-radius: 100px;
    font-size: 200px;
}
.footer{
    margin-top: 10px;
    font-style: italic;
}